body{
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1528458909336-e7a0adfed0a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-attachment: fixed;
    background-position: fixed;
    font-family: 'Roboto Mono', monospace ;
}

.main-body-container {
    display: grid;
    grid-template-columns: 120px auto;
}

.col1 {
    grid-column: 1/2;
    width: 350px;
    background-color: #636e72;
}

.col2 {
    grid-column: 2/3;
}

.sidebar-title {
    margin-left: 35px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}

.sidebar-menu {
    list-style-type: none;
    font-family: 'Roboto Mono', monospace;
    line-height: 300%;
}

.h {
    font-weight: bold;
    font-size: 30px;
    font-family:'Abril Fatface', cursive;
}

img {
    max-width: 250px;
    max-height: 550px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.title-container {
    height: 200px;
    width: auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 40px;
    font-style: oblique;
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

.navbar-container{
    height: 75px;
    background-color: transparent;
    font-size: 1.4rem;
    width: 100%;
}

.navbar {
    display: flex;
    font-weight: bold;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #2d3436;
    margin-top: 0;
    margin-right: 36px;
}

.navbar li {
    list-style-type: none;
    padding: 0 20px;
}

.navbar li:hover {
    background: #dfe6e9;
}

.nav-menu {
    margin-left: auto;
    text-align: center;
}

.body {
    margin: 0 50px;
    margin-left: 350px;
}

.intro {
    top: 0;
    padding-top: 0;
    padding-right: 5px;
    margin: 0px;
    margin-left: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-style: italic;
}

#sidebar {
    width: 15vw;
    height: 100vh;
    float: left;
    position: fixed;
}

.foot {
    background-color: black;
    text-align: center;
    color: white;
    height: 5vh;
    padding-top: 20px;
    z-index: 999;
    width: 100%;
    float: right;
}

img:hover {
    filter: none;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.function-info {
    margin-left: 0px;
}